<p id="notice"><%= notice %></p>

<h1>All Recipes</h1>
<hr />
<% @recipes.each do |recipe| %>
  <div class="row">
      <div class="col-md-2">
        <section class="chef_info center">
          <img class='img-thumbnail' src='http://images.sodahead.com/polls/004280373/2253858223_blt_set_free_overlay_bg_xlarge.jpeg' alt="sandwich">
        </section>
      </div>
      <div class="col-lg-8 well">
        <h4><%= link_to recipe.name, " " %></h4>
        <p><%= recipe.summary %></p>
        <p>
          <span class='quite'><small><%= time_ago_in_words(recipe.created_at) %> ago</small></span>
        </p>
      </div>
  </div>
<% end %>
<hr />
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Summary</th>
      <th>Description</th>
      <th>Chef</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @recipes.each do |recipe| %>
      <tr>
        <td><%= recipe.name %></td>
        <td><%= recipe.summary %></td>
        <td><%= recipe.description %></td>
        <td><%= recipe.chef.name %></td>
        <td><%= link_to 'Show', recipe %></td>
        <td><%= link_to 'Edit', edit_recipe_path(recipe) %></td>
        <td><%= link_to 'Destroy', recipe, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Recipe', new_recipe_path %>
