<p id="notice"><%= notice %></p>

<p>
  <strong>Chef:</strong>
  <%= @review.chef_id %>
</p>

<p>
  <strong>Review:</strong>
  <%= @review.review %>
</p>

<p>
  <strong>Recipe:</strong>
  <%= @review.recipe_id %>
</p>

<p>
  <strong>Headline:</strong>
  <%= @review.headline %>
</p>

<%= link_to 'Edit', edit_review_path(@review) %> |
<%= link_to 'Back', reviews_path %>
